<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Add manager role</th>
            <th>Delete manager role</th>
            <th>Delete User</th>
        </tr>
        {{ range .data}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Email}}</td>
            <td>{{.Username}}</td>
            <td>{{.Password}}</td>
            <td>{{.Role}}</td>
            <td>
                <form action="/add-manager" method="post">
                    <input type="hidden" name="userId" value={{.Id}}>
                    <button type="submit">add manager</button>
                </form>
            </td>
            <td>
                <form action="/delete-manager" method="post">
                    <input type="hidden" name="userId" value={{.Id}}>
                    <button>delete manager</button>
                </form>
            </td>
            <td>
                <form action="/delete-user" method="post">
                    <input type="hidden" name="userId" value={{.Id}}>
                    <button>delete user</button>
                </form>
            </td>
        </tr>
        {{ end }}
    </table>
    <form action="/logout-form" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>